$primary-color:#090761;

.userName{
    font-weight: bold;
    color: $primary-color;
}


.modal-content {
    border: 0;
}
.modal-body{
    padding: 0rem 5rem;
}

input{
margin:0.8rem 0; 
padding: 1rem;   
border: 2px solid lightgray;
border-radius: 4px;
width: 80%;
}
.option{
    padding: 2rem 0; 
    color: $primary-color;
    text-decoration:underline;
    
}
a{
color: $primary-color;    
}
button{
    color: white;
    background-color: $primary-color; 
    border-radius: .25rem;
    padding: 0.5rem 2rem;  
    width: 8rem; 
}